contourpy==1.3.3
cycler==0.12.1
filelock==3.20.0
fonttools==4.60.1
fsspec==2025.10.0
intel-cmplr-lib-rt==2025.0.4
intel-cmplr-lib-ur==2025.0.4
intel-cmplr-lic-rt==2025.0.4
intel-pti==0.10.1
intel-sycl-rt==2025.0.4
jinja2==3.1.6
kiwisolver==1.4.9
markupsafe==2.1.5
matplotlib==3.10.7
mpmath==1.3.0
networkx==3.4.2
numpy==2.1.2
packaging==25.0
pandas==2.3.3
pillow==11.3.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytorch-triton-xpu==3.3.1
pytz==2025.2
scipy==1.16.3
seaborn==0.13.2
setuptools==70.2.0
six==1.17.0
sympy==1.14.0
tcmlib==1.2.0
termcolor==3.2.0
torch==2.7.1+xpu
torchaudio==2.7.1+xpu
torchvision==0.22.1+xpu
tqdm @ git+https://github.com/tqdm/tqdm.git@cdf201e8c5d2498f900a31b281b40705b2efe90d
typing-extensions==4.15.0
tzdata==2025.2
umf==0.9.1
